<div id="editor" class="section editor machine-src">
  <h1><i class="fa fa-edit"></i> Éditeur</h1>
  <div class="src panel" id="editor-panel">
    <div style="color:transparent;position:absolute" id="txt-sample" class="txt-sample">a</div>
    <pre class="src-display" id="editor-display">
      <!-- <span></span> -->
    </pre>
      <textarea id='src' wrap='off' spellcheck='false' class="input-field">{% if include.init-machine %}{{ include.init-machine }}{% endif %}
      </textarea>
  </div>
  <div class="compilation-msg panel" id="compilation-panel">
    <h3 style="margin-top:0">Messages de sortie du compilateur</h3>
    <p class="compilation-msg"></p>
  </div>
  <div class="control-panel panel">
    <button class="btn btn--primary txt" id="compile-btn"><!-- -->
      <i class="fa fa-cog"></i>Charger la machine</button>
  </div><!-- -->
</div>

<div id="simulator" class="section">
  <h1><i class="fas fa-robot"></i> Simulateur<div class="tm-name" id="tm-name"></div></h1>
  <div class="input-panel panel section">
    {% if include.init-word %}
    <input class="input-field" type='text' id='input-str' value='{{include.init-word}}'/>
    {% else %}
    <input class="input-field" type='text' id='input-str'/>
    {% endif %}
    <button id="load-btn" class="btn btn--primary txt"><i class="fa fa-undo"></i> Charger mot d'entrée</button>
  </div>
  <div class="section simulator-panel" id="simulator-panel" >
    
  </div>
</div>

<script>
  // window.onload = function (){
  if (window.location.href.search(/[?]loadMachine$/)){
      let machineField = document.querySelector("#editor .input-field")
      let inputWordField = document.querySelector("#simulator .input-field")
      machineField.value = localStorage.getItem("machine-simulator.machine")
      inputWordField.value = localStorage.getItem("machine-simulator.input-value")
      // }
  }
  
  let editorElt = new EditorElt("editor-panel",
                                'compilation-panel')
  
  let editor = new Editor(editorElt, new TMParser(), QuickParser)
  
  const simulator = new Simulator("simulator-panel",
                                  GraphTM,
                                  "tm-name",
                                  TapeVis,
                                  TuringEnv)

  
  function load(input, simulator){
          simulator.inputword = input.value
          input.blur()      
  }
  function compile(editor, input, simulator){
      let output = editor.value
      if (output){
          simulator.machine = output
          load(input, simulator);
      }
  }

  function link(editor, input, inputBtn,simulator, compileBtn){
      
      input.onkeydown =
          event => {
              if (event.key === 'Enter') { load(input,simulator) }
          }
      
      inputBtn.onclick = e => {
          load(input,simulator)
          simulator.focus()
      }

      compileBtn.onclick = e => {
          compile(editor,input,simulator)
          if (editor.ok){input.scrollIntoView()}
      }

      compile(editor, input, simulator)
  }

  link(
      editor,
      document.getElementById("input-str"),
      document.getElementById("load-btn"),
      simulator,
      document.getElementById("compile-btn")
  )
  


</script>
