
<div id="editor" class="section">
  <h1><i class="fa fa-edit"></i> Éditeur</h1>
  <div class="editor panel" id="editor-panel">
    <div style="color:transparent;position:absolute; line-height:22px;font-size:0.75em" id="txt-sample">a</div>
    <div class="line-numbers">
      <span></span>
    </div>
    <!-- <div class="textarea"> -->
      <textarea id='src' wrap='off' spellcheck='false' class="input-field" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{% if include.init-machine %}{{ include.init-machine}}{% endif %}
      </textarea>
      <!-- </div> -->
  </div>
  <div class="compilation-msg panel" id="compilation-panel">
    <h3 style="margin-top:0">Messages de sortie du compilateur</h3>
    <p id="compilation-msg"></p>
  </div>
  <div class="control-panel panel">
    <button class="btn btn--primary txt" onclick="compile()"><i class="fa fa-cog"></i>Charger la machine</button>
  </div><!-- -->
</div>


<script>
  const textarea = document.getElementById('src')
  const lineNumbers = document.querySelector('.line-numbers')
 

  var mytm
  
  textarea.addEventListener('input', event =>
      mytm = parseTM(textarea,lineNumbers))
  
  mytm = parseTM(textarea,lineNumbers)
  
  textarea.style.height = textarea.scrollHeight + "px"
    
  textarea.addEventListener('keydown', event => {
      if (event.key === 'Tab') {
          const start = textarea.selectionStart
          const end = textarea.selectionEnd

          textarea.value = textarea.value.substring(0, start) + '\t' + textarea.value.substring(end)

          event.preventDefault()
      } else if (event.key === 'Enter' && event.ctrlKey) {
          if (mytm){
              document.getElementById("simulator").scrollIntoView()
              document.getElementById("input-str").focus()
          }
      }
  })
  </script>

<div id="simulator" class="section">
  <h1><i class="fas fa-robot"></i> Simulateur<div id="tm-name"></div></h1>
  <div class="input-panel panel section">
    {% if include.init-word %}
    <input class="input-field" type='text' id='input-str' value='{{include.init-word}}'/>
    {% else %}
    <input class="input-field" type='text' id='input-str'/>
    {% endif %}
    <button onclick="load()" class="btn btn--primary txt"><i class="fa fa-undo"></i> Charger mot d'entrée</button>
    <script>
      txtinput = document.getElementById("input-str")
      txtinput.addEventListener('keydown', event => {
          if (event.key === 'Enter') {
              load()
              document.getElementById("simulator-panel").scrollIntoView()
              txtinput.blur()
          }
      })
    </script>
  </div>
  <div class="section simulator-panel" id="simulator-panel" >
    <div class="top-panel">
      <div class="status-panel">
        <div># d'étapes : <span id='tm-nb-steps'></span></div><span class="space"></span>
        <div><i id='tm-status' class="fas fa-pause-circle"></i></div>
      </div>
      <div class="control-panel">
        <div class="elt button-panel">
          <button onclick="runback()"
                  class='btn btn--primary'
                  title="Rembobiner">
            <i class="fas fa-fast-backward"></i>
          </button><button onclick="back()"
                  class='btn btn--primary'
                  title="Reculer d'une étape">
            <i class="fas fa-step-backward"></i>
          </button><button onclick="step()"
                  class='btn btn--primary'
                  title="Avancer d'une étape">
            <i class="fas fa-step-forward"></i>
          </button><button onclick="run()"
                  class='btn btn--primary'
                  title="Laisser tourner">
            <i class="fas fa-fast-forward"></i>
          </button><button onclick="stop()"
                  class='btn btn--primary'
                  title="Arrêter l'exécution">
            <i class="fas fa-stop"></i>
          </button><button onclick="toggleLockView()"
                  class='view btn btn--primary'
                  title="Débloquer les rubans"
                  id="lock-btn" >
            <i class="fas fa-lock" id="lock-btn-ico"></i>
          </button>
          <!-- <button onclick="switchView()" -->
          <!--         class='view btn btn--primary' -->
          <!--         title="Changer d'affichage des rubans"> -->
            <!--   <i class="fas fa-eye"></i> -->
            <!-- </button> -->
        </div>
        <div class="elt speedo">
          <div class="elt">
            <i class="fas fa-tachometer-alt"></i> vitesse:
            <div id='speedtxt'></div>
          </div>
          <input id="speedo"
                 type="range"
                 list="speeds"
                 min="0"
                 max="5"
                 value="2"
                 />
          <datalist id="speeds">
            <option value="0" label="lent"></option>
            <option value="1" label="normal"></option>
            <option value="2" label="plus vite"></option>
            <option value="3" label="rapide"></option>
            <option value="4" label="très rapide"></option>
            <option value="5" label="à toute vitesse"></option>
          </datalist>
        </div>
      </div>
    </div>
    <div class="table-tape section" id="table-tape-section">
      <div class="table-tape" id="table-tape">
        <table>
          <tbody id="simulator-frame">
          </tbody>
        </table>
      </div>
    </div>
    <div class="graph-visualizer" id="graph-of-tm"></div>
    <div class="hidden" id="pop-up-outer">
      <div class="pop-up-outer"></div>
      <div class="pop-up" id="pop-up">
        <h2 id="pop-up-title"></h2>
        <button class="close" onclick="hidePopUp()" title="Fermer">
          <i class="fas fa-times"></i>
        </button>
        <div class="pop-up-content" id="pop-up-content"></div>
      </div>
    </div>
  </div>
</div>
<script
  type="text/javascript"
  src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
  ></script>
<script>
  var tm
  var myenv  
  let steps = document.getElementById('tm-nb-steps')
  let status = document.getElementById('tm-status')
  var inputword = ''
  var _run = false
  var _keeprunning = false
  var _finished = false
  var _forwards = true
  var delay = 1000
  // create a network
  var graph_container = document.getElementById("graph-of-tm");
  var nodes = new vis.DataSet([])
  var edges = new vis.DataSet([])
  var color_normal = '#6f777d', color_highlight = 'darkred'
  var data = {
      nodes: nodes,
      edges: edges
  };
  var options = {
      nodes:{
          borderWidth: 0,
          color: color_normal,
          font:{
              color:'white'
          }
      },
      edges:{
          color: color_normal,
          font:{
              color:'black'
          }
      }
  };
  var graph = new vis.Network(graph_container, data, options);
  var current_node
  var high_trans
  var history = []
  var _locked = true

  document.addEventListener(
      'keydown', event => {
          let elt = document.activeElement
          if (! elt.classList.contains("input-field")){
              if (event.key === ' ') {
                  if (document.getElementById("pop-up-outer").classList.contains("hidden")){
                      if (_keeprunning){
                          stop()
                      }else{
                          run()
                      }
                  }else{
                      hidePopUp()
                  }
              } else if (event.key === '+') {
                  let lvl = Math.trunc(document.getElementById('speedo').value)
                  if (lvl > 0){
                      document.getElementById('speedo').value = lvl + 1
                      updDelay()
                  }
              } else if (event.key === '-') {
                  let lvl = Math.trunc(document.getElementById('speedo').value)
                  if (lvl < 5){
                      document.getElementById('speedo').value = lvl - 1
                      updDelay()
                  }
              } else if (event.key === 'Enter' && ! document.getElementById("pop-up-outer").classList.contains("hidden")){
                  hidePopUp()
              }
          }
      }
  )


  // function switchView(){
  //     document.getElementById("table-tape-section").classList.toggle("hidden")
  //     document.getElementById("lock-btn").classList.toggle("hidden")
  //     document.getElementById("simulator-frame").classList.toggle("hidden")
  //     focusView()
  // }

  function toggleLockView(){
      var btn = document.getElementById("lock-btn")
      var ico = document.getElementById("lock-btn-ico")
      _locked = ! _locked
      if (_locked){
          focusView()
          ico.className = "fas fa-lock"
          btn.title = "Débloquer les rubans"
      }else{
          ico.className = "fas fa-lock-open"
          btn.title = "Centrer automatiquement les rubans"
      }
  }

  function focusView(){
      if (_locked && ! document.getElementById("table-tape-section").classList.contains("hidden")){
          var bodyRect = document.getElementById("table-tape").getBoundingClientRect(),
              elemRect = document.getElementById("table-state").getBoundingClientRect(),
              offset   = elemRect.left - bodyRect.left;
          document.getElementById("table-tape").scrollLeft = offset
      }
  }
  
  function prepareTableTape(){
      const body = document.getElementById("simulator-frame")
      body.innerHTML = "<tr class='filler'><td></td><td><div class='state' id='table-state'></div><div class='pointer'></div></td><td></td></tr>"
      for (var row, cell, i = 0; i < myenv.machine.nb_tapes; i++){
          if(i > 0){
              row = document.createElement("tr")
              row.className = "filler"
              body.appendChild(row)
          }
          row = document.createElement("tr")
          row.id = `tape-${i}`
          row.className = "tape"
          body.appendChild(row)
          cell = document.createElement("td")
          cell.id = `past-${i}`
          cell.className = "tape past-tape"
          row.appendChild(cell)
          cell = document.createElement("td")
          cell.id = `current-${i}`
          cell.className = "tape current-tape"
          row.appendChild(cell)
          cell = document.createElement("td")
          cell.id = `future-${i}`
          cell.className = "tape future-tape"
          row.appendChild(cell)
      }
  }

  function makespaces(s){
      return s.replaceAll(' ','<span class="emptysymb">#</span>')
  }
  function updateTableTape(){
      document.getElementById('table-state').innerHTML = myenv.etat
      var content =  myenv.tapes.map(function (t) {return t.content})

      for (var i = 0; i < myenv.machine.nb_tapes; i++){
          document.getElementById(`past-${i}`).innerHTML =
              makespaces(content[i].past)
          document.getElementById(`current-${i}`).innerHTML =
              makespaces(content[i].present)
          document.getElementById(`future-${i}`).innerHTML =
              makespaces(content[i].future)
      }
  }

  
  
  function updTxt(id, txt){
      document.getElementById(id).innerHTML = txt
  }
  
  function updDelay(){
      switch(Math.trunc(document.getElementById('speedo').value)){
      case 0:
          delay = 2000;
          updTxt("speedtxt", "très lente")
          break
      case 1:
          delay = 1000;
          updTxt("speedtxt", "tranquille")
          break
      case 2:
          delay = 750;
          updTxt("speedtxt", "confortable")
          break
      case 3:
          delay = 500;
          updTxt("speedtxt", "rapide")
          break
      case 4:
          delay = 100;
          updTxt("speedtxt", "véloce")
          break
      case 5:
          delay = 0;
          updTxt("speedtxt", "youhouhou!")
          break
      }
  }

  document.getElementById('speedo').onchange = updDelay

  function highlight_current(){
      var nid = `q_${myenv.etat}`, eid
      if (myenv.history.length > 0){
          eid = myenv.history[myenv.history.length - 1].id
      }else{
          eid = 'e_init'
      }
      if (current_node != nid){
          nodes.updateOnly([
              {
                  id:current_node,
                  color:color_normal
              },{
                  id:nid,
                  color:color_highlight
              }
          ])
      }
      if (high_trans != eid){
          edges.updateOnly([
              {
                  id:high_trans,
                  color:color_normal
              }])
          edges.updateOnly([{
              id:eid,
              color:color_highlight
          }
                           ])
      }else{
          edges.updateOnly([
              {
                  id:eid,
                  color:color_highlight
              }
          ])
      }
      high_trans = eid
      graph.focus(nid)
      current_node = nid
  }
  
  function compile(){
      if (mytm){
          my_graph = genGraph(mytm, textarea.value)
          states = my_graph.nodes
          transitions = my_graph.edges
          nodes = new vis.DataSet(states)
          edges = new vis.DataSet(transitions)
          graph.setData({nodes: nodes, edges:edges})
          graph.redraw()
          myenv = new TuringEnv(mytm, '')
          current_node = "initial"
          high_trans = "e_init"
          if (mytm.name != ""){
              document.getElementById("tm-name").innerHTML = ` : ${mytm.name}`
          }else{
              document.getElementById("tm-name").innerHTML = ""
          }
          load();
          return true;
      } else {
          return false
      }
  }

  function load(){
      stop()
      inputword = document.getElementById("input-str").value
      myenv.reset(inputword)
      _finished = myenv.accepted
      steps.innerHTML = myenv.nb_steps
      prepareTableTape()
      updateTableTape()
      update_status()
  }

  function do_step(){
      var success
      if (!_run){
          _run = true
          if (_forwards){
              success = myenv.step()
          } else {
              success = myenv.back()
          }
          _run = false
          _keeprunning = _keeprunning && success
          updateTableTape()
          focusView()
          steps.innerHTML = myenv.nb_steps
          if (_keeprunning) {
              highlight_current()
              setTimeout(do_step, delay)
          } else{
              _finished = _forwards && !success
              update_status()
              if(_finished){
                  notifySuccess()
              }
          }
      }
  }

  function hidePopUp(){
      document.getElementById("pop-up-outer").classList.add("hidden")
  }
  
  function notifySuccess(){
      let status = document.createElement("i")
      status.className = document.getElementById("tm-status").className
      document.getElementById("pop-up-outer").classList.remove("hidden")
      document.getElementById("pop-up-title").innerHTML = "Exécution terminée :"
      document.getElementById("pop-up-title").appendChild(status)
      if (myenv.accepted){       
          document.getElementById("pop-up-content").innerHTML
              = `Le mot "${inputword}" est accepté.`
      } else {    
          document.getElementById("pop-up-content").innerHTML
              = `Le mot "${inputword}" est rejetté.`
      }
      if (myenv.machine.output > 0){
          var output = myenv.tapes[myenv.machine.output - 1].content
          document.getElementById("pop-up-content").innerHTML
              += `<br>Sortie : ${output.past}${output.present}${output.future}`
      }
  }

  function update_status(){
      highlight_current()
      status.classList.remove('fa-check-circle')
      status.classList.remove('fa-times-circle')
      status.classList.remove('fa-pause-circle')
      status.classList.remove('fa-spin')
      status.classList.remove('fa-cog')
      if (_run || _keeprunning){
          status.classList.add('fa-spin')
          status.classList.add('fa-cog')
      } else if (_finished){
          if (myenv.accepted){
              status.classList.add('fa-check-circle')
          } else { 
              status.classList.add('fa-times-circle')
          }
      } else {
          status.classList.add('fa-pause-circle')
      }
  }
  
  function step(){
      if (!_keeprunning && !_run){
          _forwards = true
          update_status()
          do_step()
      }
  }

  function run(){
      if (!_keeprunning && !_run){
          _forwards = true
          _keeprunning = true
          update_status()
          do_step()
      }
  }

  function back(){
      if (!_keeprunning && !_run){
          _forwards = false
          update_status()
          do_step()
      }
  }

  function runback(){
      if (!_keeprunning && !_run){
          _forwards = false
          _keeprunning = true
          update_status()
          do_step()
      }
  }
  
  function stop(){
      _run = false
      _keeprunning = false
  }

  updDelay()
  compile()

</script>
