.page .page__inner-wrap {
  font-size: 19px;
  line-height: 1.2;
  margin-top:0;
}
h1 i{
    margin-right:.5em
}

.layout--splash .feature__wrapper{
    margin-bottom:0;
}
.layout--splash .feature__wrapper + div.section{
    padding-top:0;
}

.section {
    padding: 1em;
    margin: auto;
    max-width: 45em;
}

button.btn.txt i, i.txt{
    margin-right:.5em;
    vertical-align:baseline;
}

.layout--machines .machine-details{
    width:100%;
    text-align:right
}

.layout--machines .machine-details{
    margin-bottom:1em;
}

.machine-details > div{
    display:inline-block
}

.machine-item > div{
    display:inline-block
}
.machine-item > div > div{
    display:block;
}

.machine-item .icon{
    width:2em;
    text-align:center;
    margin-right:.5em;
    padding-top:.3em;
    vertical-align:top
}

.machine-item .entry{
    max-width:calc(100% - 2.5em);
    min-width:calc(100% - 2.5em);
    width:calc(100% - 2.5em)
}

.machine-item{
    display:block;
    margin-bottom:.75em;
}


.dummy.speedo, .dummy.speedo .speedo, .dummy.speedo datalist{
    width: 20em;
    
}
.dummy.speedo{
    margin : 0 auto 1em;
    display:block
}
.dummy.speedo .speedo {
    display: block;
    margin: auto;
    padding: .5em 0.2em;
    width: 19.6em
}

.dummy.speedo .elt {
    margin: .5em;
    width: 100%;
    text-align: center;
}
.dummy.speedo .speedtxt {
    display: inline;
    margin-left: .5em;
}

.dummy.speedo datalist{
    display: flex;
    flex-direction: column;
    writing-mode: sideways-lr;
    justify-content: space-between;
}

.dummy.speedo datalist option{
    padding:.5em 0 0 0;
    text-align:right;
    font-style:italic;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
