.editor .input-field{
    color:transparent;
    background:transparent;
}
.src-display mark{
    background:unset
}
/* Color themes for the editor */

/* Light theme */
.src.light .src-display .colon{
    color: darkgreen
}
.src.light .src-display .colon.err{
    color: red
}
.src.light .src-display .comments{
    color: peru
}
.src.light .src-display .comments.err{
    color: crimson
}
.src.light .src-display .plain-txt{
    color: #3d4144
}
.src.light .src-display .plain-txt.err{
    color: crimson
}
.src.light .src-display .int{
    color: darkmagenta
}
.src.light .src-display .int.err{
    color: crimson
}
.src.light .src-display .bool{
    color: darkslateblue
}
.src.light .src-display .bool.err{
    color: crimson
}
.src.light .src-display .state{
    color: dodgerblue
}
.src.light .src-display .state.err{
    color: crimson
}
.src.light .src-display .symb{
    color: darkslategray
}
.src.light .src-display .symb.err{
    color: crimson
}
.src.light .src-display .dir{
    color: chocolate
}
.src.light .src-display .dir.err{
    color: crimson
}
.src.light .src-display .ppt{
    color: darkgreen
}
.src.light .src-display .ppt.err{
    color: crimson
}
.src.light .src-display .comma{
    color: deepskyblue
}
.src.light .src-display .comma.err{
    color: red
}
.src.light .src-display .line-idx{
    color: #506882
}
.src.light, .light .src-display {
    color: #3d4144;
    background-color: white
}
.src.light{
    border-color: white
}
.src.light .input-field{
    caret-color: #3d4144
}

.src.light .input-field.visible{
    color: #3d4144;
    background-color: white
}

/* Dark theme */
.src.dark .src-display .colon{
    color: seagreen
}
.src.dark .src-display .colon.err{
    color: red
}
.src.dark .src-display .comments{
    color: burlywood
}
.src.dark .src-display .comments.err{
    color: pink
}
.src.dark .src-display .plain-txt{
    color: #eeffff
}
.src.dark .src-display .plain-txt.err{
    color: pink
}
.src.dark .src-display .int{
    color: violet
}
.src.dark .src-display .int.err{
    color: pink
}
.src.dark .src-display .bool{
    color: plum
}
.src.dark .src-display .bool.err{
    color: pink
}
.src.dark .src-display .state{
    color: lightblue
}
.src.dark .src-display .state.err{
    color: pink
}
.src.dark .src-display .symb{
    color: white
}
.src.dark .src-display .symb.err{
    color: pink
}
.src.dark .src-display .dir{
    color: orange
}
.src.dark .src-display .dir.err{
    color: pink
}
.src.dark .src-display .ppt{
    color: springgreen
}
.src.dark .src-display .ppt.err{
    color: pink
}
.src.dark .src-display .comma{
    color: skyblue
}
.src.dark .src-display .comma.err{
    color: red
}
.src.dark .src-display .line-idx {
    color : #506882
}
.src.dark, .dark .src-display {
    color: #eeffff;
    background-color: #263238
}
.src.dark{
    border-color: #263238
}
.src.dark .input-field{
    caret-color: #eeffff 
}
.src.dark .input-field.visible{
    color: #eeffff ;
    background-color: #263238
}

/* Other colors */
#simulator .simulator-panel {
    background: lavender;
}

.alert * {
    color: darkred;
}

.panel.alert{ 
    background: pink;
}

.alert.line-idx{
    color:pink;
}

input, .table-tape .tape{
    background: #263238;
    color: #eeffff;
}


.table-tape .tape.current-tape{
    background:#eeffff;
    color:#263238;
    border-color:#263238;
}

.table-tape .state{
    background:white;
    border-color: #263238;
}


.graph-visualizer, #simulator .status-panel, div.pop-up{
    border-color: #6f777d;
    background: white;
}

.pop-up-outer {
    background-color: #6f777d;
}

.close{
    color: #3d4144;
}
/* not really colors, but more aboute being pretty. */
textarea, input, .tm-cell-content, .tape , .compilation-msg, .src-display{
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

#editor .alert.line-idx {
    font-weight:bold;
}

#editor .compilation-msg.panel{
    border-style: dotted;
}

/* .tm-cell-content{ */
/*     font-weight: bold; */
/* } */

.table-tape .tape{
    font-weight : bold;
}

.table-tape .state{
    font-weight:bold;
}
