
 /* title */
h1 i{
    margin-right:.5em
}
.section h1{
    margin: 1em
}

.section {
    padding: 1em;
    margin: auto;
    max-width: 45em;
}


/* pop-up */
.close {
    position: absolute;
    top: .5em;
    right: .5em;
    border: none;
    background: none;
}

.pop-up-outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: 50%;
    display: block;
}

div.pop-up{
    width: fit-content;
    padding: 1em;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    border-width: medium;
    border-style: solid;
    width: 50%;
}

.pop-up h2{
    margin-top:unset
}

.pop-up h2 i{
    margin-left:.5em;
}

 /* editor & render */
.render.section textarea.src{
    display:none
}
.machine-src .panel{
    display: inline-block;
    width: fit-content;
    padding:1em;
    vertical-align:top;
    margin: .2em;
}

.editor.section .control-panel {
    width: 100%;
    padding: .5em 0;
}

.machine-src .btn.txt i{
    margin-right:.5em
}

.editor.section textarea {
    overflow: hidden;
    padding: 0;
    border: 0;
    outline: none;
    resize: none;
    border-radius:0;
    box-shadow:none;
    /* line-height: 22px; */
    display:block;
    position: absolute;
    top: 20px;
    left: calc(10px + 2.2em);
}

.machine-src .line span{
    margin:0;
    padding:0;
    display:inline;
}


.editor.machine-src .src.panel{
    display: inline-block;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 4px;
    border-style:inset;
    height: 30em;
    overflow: scroll;
    position: relative;
}
.render.machine-src .src.panel{
    display: inline-block;
    gap: 10px;
    padding: 20px 10px;
    height: fit-content;
    position: relative;
}

.machine-src .src.panel, .machine-src .compilation-msg.panel{
    width:100%;
}

.machine-src .compilation-msg p{
    margin-bottom:0;
    word-break:break-word;
    whitespace:normal
}
.machine-src .compilation-msg span{
    display:list-item;
    margin-left: 1em;
}

.machine-src .panel h3{
    margin-top:.1em
}  

.pretty-line{
    margin:0
}

.line-idx span{
    /* float:right */
    font-size:small
}

.line-idx{
    max-width: 2.2em;
    width: 2.2em;
    text-align: right;
    display:inline-block;
    padding-right:.5em;
}
.src-display a.line-idx:hover{
    text-decoration:unset
}


.line{
    padding-left:.66em;
}
.editor .src-display{
    /* line-height: 22px; */
    /* display:table; */
    position:absolute;
    left:10px;
    top:20px;
    margin-top:0;
}
.render .src-display{
    /* line-height: 22px; */
    /* display:table; */
    /* position:absolute; */
    /* left:10px; */
    /* top:20px; */
    margin-top:0;
}
.src-display pre {
    display: table-row;
}
.src-display pre code {
    display: table-cell;
}

.line-nb{
    vertical-align:super;
}

.text-sample, textarea, input, .src-display, .machine-src textarea {
    font-size: large;
    line-height: 1.8;
}

/* .src-display .emptyspan::after{ */
/*     content: "0"; */
/*     display:inline; */
/*     color:transparent; */
/*     /\* position:absolute; *\/ */
/* } */



/* simulator */
.tm-name {
    display: inline;
}

#simulator .section{
    width:100%;
    padding:0;
    margin-bottom:1em;
}

#simulator .input-panel{
    display: inline-block;
}

#simulator .input-panel *{
    margin-top:auto;
    margin-bottom:auto;
    vertical-align:middle;
}

#simulator .panel.input-panel input{
    width:50%;
    margin-right:1em;
}

.space{
    display:inline-block;
    width:1em;
    margin:0;
    padding:0;
    border:0;
}

#simulator .status-panel div{
    margin: .1em .5em;      
}


#simulator .top-panel {
    position:relative
}

#simulator .top-panel {
    display: block;
}
#simulator .control-panel{
    margin: .5em;
    padding: .5em;
}
#simulator .status-panel{
    width: fit-content;
}

@media(max-width:600px){
    #simulator .control-panel{
        text-align:center;
        margin:auto;
    }
    #simulator .status-panel{
        width: fit-content;
        margin: auto
    }
}

@media(min-width:601px){
    #simulator .status-panel{
        margin-left: auto
    }
    #simulator .top-panel .status-panel {
        position:absolute;
        top:.5em;
        right:.5em;
    }
}

#simulator .status-panel{
    border: .1em solid;
    border-radius:30px;
}

#simulator .control-panel {
    border-radius: 4px;
    width: fit-content;
}

#simulator .button-panel .btn:first-child {
    margin-left:0;
}

#simulator .control-panel .elt {
    margin: .5em;
    width:100%;
    text-align:center;
}

#simulator .button-panel .btn {
    margin-left: 1em;
    display: inline-block;
    height: fit-content;
}


#simulator .speedo-elt {
    display: block;
}

#simulator .speedtxt{
    display: inline;
    margin-left:.5em;
}

.speedo {
    /* width: 20em; */
    display: block;
    margin:auto;
}

#simulator .status-panel * {
    display: inline-block;
}


#simulator .simulator-panel {
    padding: .5em;
    border-radius: 4px;
    border:solid .1em;
    position:relative;
}


.graph-visualizer{
    width:75%;
    margin:auto;
    height:15em;
    border: .1em solid;
    border-radius:30px;
}



 /* tapes */
.table-tape.section {
    position: relative;
    width:  100%;
    height: fit-content;
    overflow-x:scroll;
    display:inline-block
}

.table-tape .state{
    border-radius:20px;
    border:medium solid;
    padding:.3em .5em;
    position: absolute;
    transform:translate(calc(-50% + .4em),-2.4em)
}

.table-tape tr {
    height: fit-content;
    width: 100%;
    padding: .5em;
}

.table-tape tr.filler, .table-tape .head-row{
    background:none;
    height:1em;
}

.table-tape td{
    padding:.25em;
    border:unset;
    height:unset;
}
.table-tape table {
    display:table;
    font-size:1em;
    margin-top:3em;
}


.table-tape .past-tape{
    text-align:right;
    width: 50%;
}
.table-tape .tape.current-tape{
    text-align:center;
    width: 1em;
    border: medium solid;
}
.table-tape .future-tape{
    text-align:left;
    width: 50%;
}

.table-tape .tape.current-tape.empty{
    color:transparent;
}


.table-tape .pointer{
    transform: translate(-.4em,-.3em);
    background-image:url("../images/pointer.png");
    background-size:contain;
    display:block;
    width:1.5em;
    height:1.5em;
    position:absolute;
    z-index:3;
}

.emptysymb{
    color:transparent;
}

