
#simulator .simulator-panel {
    background: lavender;
}

.alert * {
    color: darkred;
}

/* .alert .line { */
/*     text-decoration: wavy; */
/*     text-decoration-color: red; */
/*     text-decoration-line: underline; */
/* } */

.panel.alert{ 
    background: pink;
}

.line-idx::after{
    color: transparent;
}

/* .editor .line .comment{ */
/*     color:burlywood; */
/* } */
/* .editor .line .ppt{ */
/*     color:springgreen; */
/* } */
/* .editor .line .colon{ */
/*     color:seagreen; */
/* } */
/* .editor .line .comma{ */
/*     color:skyblue; */
/* } */

/* .editor .line .state{ */
/*     color:lightblue; */
/* } */

/* .editor .line .int{ */
/*     color:violet; */
/* } */
/* .editor .line .dir{ */
/*     color:orange; */
/* } */
/* .editor .line .symb{ */
/*     color:white; */
/* } */

/* .editor .line *.error, */
.alert.line-idx{
    color:pink;
}
/* .editor .line .comma.error{ */
/*     color:red; */
/* } */

/* .line-idx{ */
/*     color: #506882; */
/* } */
/* .line{ */
/*     color: #eeffff; */
/* } */

/* .editor textarea { */
/*     caret-color: #eeffff; */
/* } */

/* textarea { */
/*     background: #263238; */
/*     color: #eeffff; */
/* } */

input, .editor.panel, .table-tape .tape{
    background: #263238;
    color: #eeffff;
}


.table-tape .tape.current-tape{
    background:#eeffff;
    color:#263238;
    border-color:#263238;
}

.table-tape .state{
    background:white;
    border-color: #263238;
}


.graph-visualizer, #simulator .status-panel, div.pop-up{
    border-color: #6f777d;
    background: white;
}

.pop-up-outer {
    background-color: #6f777d;
}

.close{
    color: #3d4144;
}
/* not really colors, but more aboute being pretty. */
textarea, input, .tm-cell-content, .tape , .compilation-msg, .editor-display{
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

#editor .alert.line-idx {
    font-weight:bold;
}

#editor .compilation-msg.panel{
    border-style: dotted;
}

/* .tm-cell-content{ */
/*     font-weight: bold; */
/* } */

.table-tape .tape{
    font-weight : bold;
}

.table-tape .state{
    font-weight:bold;
}
